@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.my-font {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    animation: ani 1s forwards;
}

* {
    box-sizing: border-box;

}

@keyframes ani {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

:root {
    --bgcolor: #181818;
    --companycolor: #AA7D00;
}

* {
    text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    text-decoration: none !important;
    color: inherit;
}

button {
    cursor: pointer;
    outline: none;
    border: 0;
}

textarea:focus,
select:focus,
button:focus,
input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.body-bg {
    background-color: var(--bgcolor);
    /* background-image: url('../images/bglogo.svg'); */
    background-size: 100%;
    background-position-y: 500px;
    background-repeat: no-repeat;
}

.top-bar {
    height: 75px;
}

.top-view {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.top-option {

    display: flex;

    gap: 25px;
}

.top-opt-item {
    display: flex;
    color: #adadad;
}

.opt-icon {
    padding-right: 8px;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.opt-icon svg {}

.opt-text {
    font-size: 14px;
    font-weight: 600;
}

.opt-icon-right {

    padding-left: 5px;

    padding-top: 2px;

    font-size: 10px;

    display: flex;

    align-items: center;
}

.top-content {}

.top-con-view {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comp-logo {}

.logo-image {
    width: 125px;
}

.menu-view {}

.menu-view ul {

    display: flex;

    gap: 10px;

    list-style: none;

    margin: 0;

    padding: 0;
}

.menu-view ul li {

    color: #b7b7b7;

    font-size: 14px;

    font-weight: 600;
}

.menu-view ul li a {

    padding: 10px 15px 10px 15px;

    display: block;

    overflow: hidden;

    position: relative;

    border: solid 1px transparent;

    border-radius: 15px;
}

.menu-view ul li a:hover {
    transition: ease all 1s;
    color: white;
    position: relative;
    border: solid 1px var(--companycolor);
}

.menu-view-active {
    color: white;
    border: solid 1px var(--companycolor) !important;
}



@keyframes slideleft {
    0% {
        right: -100%;
        opacity: 0;
    }

    100% {
        right: 0%;
        opacity: 1;
    }
}


@keyframes slideright {
    0% {
        right: 0%;
        opacity: 1;
    }

    100% {
        right: 100%;
        opacity: 0;
    }
}

.splash-content {
    height: 600px;
    position: relative;
}

.splash-animate {

    width: 128px;

    height: 128px;

    position: absolute;

    top: 400px;

    left: 8%;
}

.splash-animate2 {

    width: 128px;

    height: 128px;

    position: absolute;

    top: 400px;

    right: 8%;
}

.leg-animation {

    margin: auto;

    width: 400px;
}


.slide-content {
    overflow: hidden;
}

.slide-data {
    display: flex;
    transform: translateX(-0%);
    transition: all ease 1s;
}

.slide {
    flex-shrink: 0;
    width: 100%;
    user-select: none;
    padding-left: 5%;
    padding-right: 5%;
}

.slide-h2 {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

.slide-h1 {
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: 700;
}

.slide-control {
    padding-top: 25px;
}

.slide-mouse {
    text-align: center;
    width: 100%;
    display: block;
}

.slide-mouse-img {
    width: 16px;
}

.slide-dots {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
    margin-bottom: 25px;
}

.slide-dot {
    background: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: .47;
}

.slide-dot.active {
    opacity: 1;
}

.expertise-content {}

.expertise-view {
    padding-top: 50px;
    overflow: hidden;
}

.expertise-h1 {
    font-size: 38px;
    color: var(--companycolor);
    font-weight: 700;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.expertise-items {
    padding-top: 60px !important;
    display: flex;
    height: 700px;
    gap: 25px;
    justify-content: center;
    cursor: grab;
    overflow: hidden !important;
}



.expertise-item {
    width: 240px !important;
    height: 400px !important;
    border-radius: 15px;
    flex-shrink: 0;
    overflow: hidden;
    transform-origin: center;
    position: relative;
    user-select: none;
    cursor: pointer;
    background: #2B271C;
    transition: all ease 1s;
    scroll-snap-align: start;
}

.expertise-text {

    color: white;

    font-size: 24px;

    font-weight: 500;

    display: block;

    width: 100%;

    padding-left: 15px;

    padding-right: 15px;

    text-align: center;

    transition: all ease .3s;
}

.expertise-item-view {

    width: 100%;

    display: flex;

    flex-wrap: wrap;

    align-content: center;

    justify-content: center;

    align-items: center;

    height: 400px;
}




.expertise-desc {

    color: white;

    font-size: 18px;

    font-weight: 200;

    display: none;

    padding-left: 15px;

    padding-right: 15px;
}

.expertise-arrow {

    font-size: 12px;

    color: var(--companycolor);

    position: absolute;

    top: 16px;

    right: 18px;
}

.expertise-item:hover .expertise-arrow {
    color: white;
}

.expertise-item:hover .expertise-desc {
    display: block;
}

.expertise-item:hover .expertise-text {
    text-align: left;
    padding-bottom: 25px;
}

.expertise-item:hover {
    background: var(--companycolor);
}

.video-content {}

.video-view {}

.video-player {
    filter: grayscale(1);
}

.contact-content {}

.contact-view {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 60px;
    padding-bottom: 120px;
}

.contact-h1 {
    color: var(--companycolor);
    font-size: 40px;
    text-align: center;
}

.contct-h2 {
    font-size: 40px;
    color: white;
    font-weight: 600;
    text-align: center;
    margin-top: 32px;
}

.contact-form {
    width: 600px;
    margin: auto;
    margin-top: 40px;
}

.form-group {
    margin-bottom: 5px;
    position: relative;
    transition: ease .2s;
}

.form-input {
    transition: ease .2s;
    background: transparent;
    border: solid 1px #ffffff40;
    font-size: 18px;
    color: white;
    padding-left: 15px;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 100%;
}

.form-label {

    position: absolute;

    color: white;

    left: 15px;

    top: 15px;

    font-size: 18px;
    user-select: none;
    -webkit-user-select: none;
    transition: ease .2s;
}

.form-input:not(:placeholder-shown)+.form-label,
.form-input:focus+.form-label {
    color: #ffffffc7;
    top: 2px;
    font-size: 14px;
}

.form-input:focus {
    background: #ffffff40;
}

.form-bttn-group {
    text-align: center;
    padding-top: 25px;
}

.form-bttn {

    border: 0;

    background: var(--companycolor);

    color: white;

    font-size: 18px;

    font-weight: 700;

    font-family: inherit;

    padding: 5px 15px 5px 15px;

    border-radius: 15px;
}

.footer-content {}

.footer-view {
    padding-left: 5%;
    padding-right: 5%;
}

.foot-row-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-image-view {
    width: 74px;
    height: 83px;
}

.foot-image {
    width: 100%;
    height: 100%;
}

.footer-menu {}

.footer-menu ul {

    list-style: none;

    display: flex;

    gap: 20px;
}

.footer-menu ul li {
    color: #ffffff50;
    font-size: 14px;
}

.footer-menu ul li a {
    display: block;
    padding: 5px 10px 5px 10px;
    transition: ease .2s;
}

.footer-menu ul li a:hover {
    background: var(--companycolor);
    color: white;
    transform: scale(1.2);
}

.footer-social {
    display: flex;
    gap: 2px;
    min-width: 148px;
}

.social-item {}

.social-anchor {

    display: block;

    width: 28px;

    height: 28px;

    background-color: var(--companycolor);

    padding: 10px;

    box-sizing: content-box;

    font-size: 24px;
}

.social-anchor:hover {

    background: white;

    transition: ease .2s;

    transform: scale(.7);

    transform-origin: top;
}

.footer-row-two {
    text-align: center;
    color: #ffffff50;
    font-size: 14px;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 90px;
}

.about-content {
    padding-top: 70px;
}

.about-view {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    overflow: hidden;
    gap: 25px;
    flex-wrap: wrap;
}

.about-h1 {

    color: white;

    font-size: 48px;

    font-weight: 600;
}

.about-h2 {
    color: #d79e01;
    font-size: 42px;
    font-weight: 400;
}

.about-h3 {
    color: #ffffffba;
    font-size: 35px;
    font-weight: 600;
}

.about-desc {
color: white;
text-align: justify;
font-size: 18px;
font-weight: 300;
overflow: hidden;
transition: all ease .5s;
}

.learnmore {
    color: white !important;
    padding-left: 5px;
}

.burger-menu {
    display: none;
}

.burger-top {
    display: block;
    width: 100%;
    height: 5px;
    background: var(--companycolor);
}

.burger-middle {
    display: block;
    width: 50%;
    height: 5px;
    background: var(--companycolor);
}

.burger-bottom {
    display: block;
    width: 100%;
    height: 5px;
    background: var(--companycolor);
}

.burger-menu:hover span {
    transition: all .2s;
    background: white;
}

.burger-menu-view {

    position: fixed;

    width: 100%;

    left: 0;

    top: 0;

    background: #1b1b1b;

    height: 100vh;

    padding-top: 40px;

    display: none;

    z-index: 99;
}

.burger-menu-view ul {

    color: white;

    list-style: none;

    display: flex;

    flex-wrap: wrap;

    flex-direction: column;

    gap: 15px;
}

.burger-close {

    color: white;

    position: absolute;

    font-size: 48px;

    top: 10px;

    right: 15px;
}

.swiper-wrapper {

    justify-content: center !important;
}

.about-col1 {

    flex-basis: 50%;

    flex-shrink: 0;
}
.about-col3 {

flex-basis: 50%;

flex-shrink: 0;

padding-bottom: 50px;

}

.about-col2 {

flex-basis: 45%;

flex-shrink: 0;

display: flex;

justify-content: center;

align-items: flex-start;
}

.about-col2 img {
    width: 513px;
    object-fit: scale-down;
}

.about-opt-items {
    display: flex;
    gap: 10px;
    width: 266px;
    flex-wrap: wrap;
    padding-top: 15px;
}

.about-opt-item {
    width: 128px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #2A261C;
    position: relative;
    transition: all ease .5s;
    cursor: pointer;
}
.about-opt-item:hover {
   background: var(--companycolor);
}
.opt-about-text {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 12px;
    
    transition: all ease .5s;
}

.opt-about-arrow {
    font-size: 10px;
    color: var(--companycolor);
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all ease .5s;
}

.about-opt-item:hover .opt-about-arrow {
   color: white;
}
.about-opt-item:hover .opt-about-arrow {
    right: 10px;
    top: 10px;
 }
 .about-opt-item:hover .opt-about-text {
    left: 10px;
    bottom: 10px;
 }
 .readmore
 {
    /* padding-top: 12px; */
    font-size: 14px;
    color: var(--companycolor);
    cursor: pointer;
 }
 .readmore:hover
 {
    color: gray;
 }
 .mission,.vision,.service,.seven,.crypto,.fintech,.personal,.altered,.tafa,.cisi
 {  
    display: none;
 }
 .wantreadmore
 {
    height: 252px;
    overflow: hidden;
 }
 .servic-list
 {

list-style: none;

padding-left: 0px;

display: flex;

gap: 5px;

flex-wrap: wrap;
}

 .servic-list  li
 {

background: var(--companycolor);

width: 100%;

padding: 10px;

border-radius: 15px;

font-size: 14px;

}
@media only screen and (max-width: 768px) {
    .menu-view {
        display: none;
    }

    .body-bg {
        background-color: var(--bgcolor);
        background-image: url(../images/bglogo.svg);
        background-size: contain;
        background-position-y: 300px;
        background-repeat: no-repeat;
    }

    .splash-content {

        height: 220px;
    }

    .splash-animate {
        width: 64px;
        height: 64px;
        position: absolute;
        top: 100px;
        left: 8%;
    }

    .splash-animate2 {
        width: 64px;
        height: 64px;
        position: absolute;
        top: 100px;
        right: 8%;
    }

    .leg-animation {
        margin: auto;
        width: 250px;
    }

    .slide-h2 {
        font-size: 14px;
    }

    .slide-h1 {
        text-align: center;
        font-size: 16px;
        color: white;
        font-weight: 700;
    }

    .expertise-h1 {
        font-size: 24px;
        text-align: center;
    }

    .contact-h1 {

        font-size: 24px;
    }

    .contct-h2 {
        font-size: 24px;
    }

    .contact-form {
        width: 100%;
        margin: auto;
        margin-top: 17px;
    }

    .foot-row-one {
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    .footer-menu ul {
        display: inline-block;
        padding-left: 0;
    }


    .burger-menu {
        display: flex;
        width: 32px;
        height: 48px;
        flex-direction: column;
        gap: 5px;
        align-items: flex-end;
        cursor: pointer;
    }

    .expertise-item {
        width: 100% !important;
        height: 400px;
        border-radius: 15px;
        flex-shrink: 0;
        overflow: hidden;
        transform-origin: center;
        position: relative;
        user-select: none;
        cursor: pointer;
        background: #2B271C;
        transition: all ease 1s;
    }

    .expertise-items {
        gap: 25px;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .swiper-wrapper {

        justify-content: unset !important;
    }
    .about-col1
    {
        flex-basis: 100%;
    }
    .about-col2
    {
        display: none;
    }
    .about-col3
    {
        flex-basis: 100%;
    }
}